.container {
    padding : 1em;
    display: grid;
    grid-gap : 1em;
}

h1 {
    text-align : center;
}

.team_text {
    text-align: center;
}

@media (min-width: 600px) and (max-width : 900px) {
  .container { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .container { grid-template-columns: repeat(3, 1fr); }
}

img {
  border-radius : 4px;
}

